Temp/UnityLockfile
Library/ArtifactDB-lock
*.lock
Library/
/[Tt]emp/
*.vs/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
